<h1 style="border-style: solid;">This is an h1</h1>

<p style="border-style: solid;">This is a paragraph.</p>

<div style="border-style: solid;">
  This is in a div.
</div>

<form style="border-style: solid;">
  This is a form.

  <label for="example_number">Number Input</label>
  <input type="number" name="example_number">

  <label for="example_text">Text Input</label>
  <input type="text" name="example_text">

  <label for="example_select">Select Input</label>
  <select name="example_select">
    <option value="one">one</option>
    <option value="two">two</option>
    <option value="three">three</option>
  </select>

  <button>Submit form button.</button>
</form>

<ul style="border-style: solid;">
  This is an unordered list.
  <li>First item in unordered list</li>
  <li>Second item in unordered list</li>
</ul>

<ol style="border-style: solid;">
  This is an ordered list.
  <li>First item in ordered list</li>
  <li>Second item in ordered list</li>
</ol>

<div>
  <div style="border-style: solid; max-width: 50%; display: inline-block;">
    This div is displayed <b>inline-block</b>.
  </div>
  <div style="border-style: solid; max-width: 50%; display: inline-block;">
    So it have have siblings next to it.
  </div>
</div>

<div class="row border">
  <div class="col-md-6 border">Bootstrap uses <b>flex</b> display.</div>
  <div class="col-md-6 border">To do a similar thing.</div>
</div>