<h2>Submit new blender job</h2>

<form action="<%= url('/job') %>" method="post">
  <div class="form-group">
    <label for="inputfile">Input File</label>
    <input name="inputfile" type="text" class="form-control" id="inputfile" placeholder="Blender input file">
  </div>
  <div class="form-group">
    <label for="account">Account</label>
    <input name="account" type="text" class="form-control" id="account">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
