<h1 class="my-3">Create a new Rendering Project</h1>

<form action="<%= url("/projects/new") %>" method="post">

  <div class="form-group">
    <label for="name">Project Name</label>
    <input type="text" name="name" class="form-control" id="name" required>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>